<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">SQL in the apps you already use</h1>
    <p class="lead text-muted">Get your SQL data in the places you need it like Google Sheets.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Start Free</a>
      <a href="#" class="btn btn-secondary my-2">Book a demo</a>
    </p>
  </div>
</section>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <img src="https://via.placeholder.com/450" />
    </div>
    <div class="col-md-6">
      <h2>Tightly integrated with the apps your team depends on</h2>
      <p>Connect to Postgres, MySQL, Snowflake, Redshift, and SQL Server. Send data where your team needs it like Google Sheets, Excel, Slack and email.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <div id="features" class="row mt-5">
    <div class="col-md-6">
      <h2>Your team's SQL repository</h2>
      <p>Share, tag, and discover code written by anyone on your team. Never re-write code someone else has already perfected. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-6">
      <img src="https://via.placeholder.com/450" />
    </div>
  </div>

  <h4 class="mt-5">FAQ</h4>
  <table class="table mt-5">
    <tbody>
      <tr>
        <th scope="row">What databases do you support?</th>
        <td>MySQL, Postgres, Redshift, MS SQL Server, and Snowflake. You can also query Google Sheets, Excel and CSV files just like they were SQL tables. You can even query cross database and files (e.g. join a Google Sheet, Postgres table and MySQL table).</td>
      </tr>
      <tr>
        <th scope="row">How much does DB Connector cost?</th>
        <td>Free during beta.</td>
      </tr>
    </tbody>
  </table>
</div>