<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">SQL in the apps you already use</h1>
    <p class="lead text-muted">Get your SQL data into Google Sheets.</p>
    <p>
      <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn btn-primary my-2">Start Free</a>
      <a href="mailto:admin@herbdoc.com?subject=DB Connector" class="btn btn-secondary my-2">Book a demo</a>
    </p>
  </div>
</section>

<div class="container" id="features">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'sheets.png', class: 'card-image-top', width: 348 %>
        <div class="card-body">
          <h4>Generate sql result in your Google sheets.</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'run_job_sql.png', class: 'card-image-top', width: 348 %>
        <div class="card-body">
          <h4>Your SQL repository in google sheets.</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'db_config.png', class: 'card-image-top', width: 348 %>
        <div class="card-body">
          <h4>Manage your Database Info in one place</h4>
        </div>
      </div>
    </div>
  </div>

  <h4 class="mt-5">FAQ</h4>
  <table class="table mt-5">
    <tbody>
      <tr>
        <th scope="row">What databases do you support?</th>
        <td>MySQL, MS SQL Server.</td>
      </tr>
      <tr>
        <th scope="row">How much does DB Connector cost?</th>
        <td>Free within 10 spreadsheets.</td>
      </tr>
    </tbody>
  </table>
</div>