<div class="std cms-privacy-policy side-margins">
    <div class="privacy_scrolldiv" style="line-height: 1.25em;">
        <h2 id="privacysecurity">PRIVACY &amp; SECURITY</h2>
        <p><strong>We at Dr. Schulze’s American Botanical Pharmacy care about your privacy. We firmly respect the
            privacy of your personal information and are committed to protecting it</strong>. The following discloses
            our information-gathering and dissemination practices for our web site.</p>
        <p>Dr. Richard Schulze's AMERICAN BOTANICAL PHARMACY will not divulge any information we receive from customers
            to anyone. We will not rent, sell or give your name, email address or credit card information or purchase
            history to any other company, agency or individual <em>at any time!</em></p>
        <p>Dr. Richard Schulze's AMERICAN BOTANICAL PHARMACY will keep your name, address and purchase history securely
            on file, to better serve you as a returning customer.</p>
        <h3 class="bold">Children's Privacy</h3>
        <p>Protecting the privacy of the minor, children 18 and under is especially important. For that reason, this web
            site never collects or maintains information at our web site from those we know to be are under the age of
            18, and no part of our web site is structured to attract anyone under 18.
            <br>
            <br> No information should be submitted to or posted on this web site by persons under 18 years of age, nor
            should any games, contests and/or sweepstakes be played by children under 18 years of age. This web site
            does not knowingly collect personal information from children under the age of 18 and does not sell such
            information.</p>
        <p> If we discover that we have received any information from a child under 18 in violation of this policy, we
            will delete that information immediately. If you believe this web site to have any information from or about
            anyone under 18, please contact us immediately at <a href="mailto:websupport@herbdoc.com">websupport@herbdoc.com.</a>
        </p>
        <h3 class="bold">SITE SECURITY</h3>
        <p>
            This Security Policy applies only to the Herbdoc.com web site(s) owned (however accessed and/or used,
            whether via personal computers, mobile devices or otherwise) or controlled by American Botanical Pharmacy or
            any of its related, affiliated or subsidiary companies (“Company,” “Dr. Schulze’s American Botanical
            Pharmacy (ABP),” “herbdoc” “we,” “our” or “us”) or other interactive features that are accessible or
            downloadable through the web sites owned or controlled by Company and that post a link to this Security
            Policy (collectively, the “Web Sites”). This Security Policy only covers information collected at the Web
            Sites, and does not cover any information collected at any other web site or offline by Company (unless
            specifically stated). The purpose of this Security Policy is to disclose to you what information we may
            collect on the Web Sites, how we may collect it, with whom we may share it, and certain other matters
            related to such information, including the choices you may have regarding our collection, use, and
            disclosure of such information.<br/><br/>
            American Botanical Pharmacy is committed to respecting the privacy rights of all visitors to our Web Site.
            We take this matter very seriously, and have instituted practices to ensure that none of your privacy rights
            as stated herein are ever violated. The following outlines American Botanical Pharmacy ‘s privacy policy and
            details the measures we have taken to safeguard and protect your privacy, while providing you with a unique
            and rewarding online shopping experience. By visiting the Web Sites, you are agreeing to the policies
            detailed below.

            <br/><br/>

            <strong>What information does American Botanical Pharmacy collect?</strong>

            <br/><br/>

            In order to serve you better, American Botanical Pharmacy collects and stores your personal information when
            you: (i) create an account on Herbdoc.com; (ii) sign up to be notified of special deals like discounts and
            exclusive offers. When creating an account, we ask you for your first and last name, your e-mail address, a
            password.

            <br/><br/>

            <strong>What does American Botanical Pharmacy do with this personal information?</strong>

            <br/><br/>

            Your information is used to process personalize your experience on the Web Sites, for internal purposes and
            to comply with any legal requirements. By storing your personal information on a secure server, herbdoc is
            able to shorten your login process and allow you modify your personal profile online.

            <br/><br/>
            <strong>How does Herbdoc safeguard my personal information?</strong>
            <br/><br/>

            American Botanical Pharmacy has implemented a variety of security measures to maintain the safety of your
            personal information. Your personal information is contained behind secured networks and is only accessible
            by a limited number of employees who have special access rights and is not shared with any other parties.
            When you access your personal information, we offer the use of a secure server. All sensitive/credit
            information supplied by you is transmitted via Secure Socket Layer (SSL) technology and securely stored in
            American Botanical Pharmacy database.
            <br/><br/>

            <strong>Does Herbdoc provide a way to update or remove personal information?</strong>
            <br/><br/>

            American Botanical Pharmacy provides a “My Account” feature on our website which allows you to modify and/or
            remove most of your personal information. This page can be accessed by clicking the “My Account” link at the
            top of every page on the site. The information contained within “My Account” is secure and accessible only
            by you or authorized American Botanical Pharmacy personnel.
            <br/><br/>
            <strong><span id="email-policy">How does Herbdoc use my e-mail address?</span></strong>
            <br/><br/>

            Your e-mail address is used to create and identify your account on Herbdoc.com. Your e-mail address is also
            used by herbdoc to correspond with you about the herbdoc program. We will also include you in our herbdoc
            e-newsletter list to keep you updated on news and specials. You may opt out of this at any time at the
            bottom of any email newsletter sent to you.
            Alternately, if you have created an account with herbdoc, you can also remove your email address from our
            list of addresses that receive information about new products, service, sales and promotions by clicking on
            the “my account” button that appears on most every page of our website, logging into your account, clicking
            on the “edit preferences” button, and making the appropriate change.

            <br/><br/>
            <strong>How can you remove your name from our direct mail or email list?</strong>

            <br/><br/>
            To have your email address removed from our list of addresses that receive information about new products,
            service, sales and promotions, simply click on the “Unsubscribe” link that appears at the bottom of any
            email and follow the simple instructions. Alternately, if you have created an account with American
            Botanical Pharmacy, you can also remove your email address from our list of addresses that receive
            information about new products, service, sales and promotions by clicking on the “my account” button that
            appears on most every page of our Web site, logging into your account, clicking on the “edit preferences”
            button, and making the appropriate change. For any questions on how to do this or to be removed from direct
            mail list, please contact <a href="mailto:websupport@herbdoc.com">websupport@herbdoc.com</a>

            <br/><br/>
            <strong>Your consent</strong>
            <br/><br/>

            You acknowledge that this privacy policy is part of the terms of service and you agree that using the Web
            Site signifies your assent to herbdoc’s privacy policy. Herbdoc reserves the right to change the terms of
            service, including this privacy policy, at any time, without advanced notice. If we decide to change our
            privacy policy, we will post those changes on this page so that you are always aware of what information we
            collect, how we use it, and under what circumstances.

            <br/><br/>
            <strong>Third parties providing services on our behalf</strong>
            <br/><br/>

            We may employ third parties to perform functions on our behalf; examples include hosting or operating Web
            Sites, fulfilling orders for products and services purchased through the Web Sites, sending e-mail and/or
            other communications, providing wireless services, removing repetitive information from customer lists, data
            analysis, marketing assistance, credit card payment processing, and customer service. These third parties
            may have access to your personal information for the purpose of performing such functions on the Web Sites’
            behalf.

            <br/><br/>
            <strong>Non-Personal Information</strong>
            <br/><br/>

            We may share non-personal information, such as aggregate user statistics, demographic information, and web
            site usage information with third parties.


            <br/><br/>
            <strong>Legal Protections and Law Enforcement</strong>
            <br/><br/>

            We may disclose information about our users, including your personal information, in the event we are
            required to respond to subpoenas, court orders, legal process or other valid law enforcement measures; to
            comply with a legal obligation; at the request of governmental authorities conducting an investigation; to
            verify or enforce compliance with the policies governing the Web Sites and applicable laws; or to protect
            the legal rights, interests, or safety of the Web Sites, our users or others. We may also use Device
            Identifiers to identify users, and may do so in cooperation with copyright owners, internet service
            providers or law enforcement agencies in our discretion. Such disclosures may be carried out without notice
            to you.

            <br/><br/>
            <strong>Security</strong>
            <br/><br/>

            Company incorporates reasonable safeguards to help protect and secure your personal information. However, no
            data transmission over the Internet, or wireless transmission, or electronic storage of information can be
            guaranteed to be 100% secure. Please note that Company cannot ensure or warrant the security of any
            information you transmit to Company via its Web Sites, and you do so at your own risk.
            This site has not been notified of California Statute CA B&PC Section 22575(a) noncompliance. This site
            maintains a privacy policy in conformity with Section 22575(b).<br/><br/>
            Insofar as information collected by the Organization may be covered by the Health Insurance Portability and
            Accountability Act (HIPPA), all such information is maintained as Confidential in strict conformity with
            HIPPA rules. In such case, the person to whom such information pertains may obtain copies upon request in
            conformity with the requirements of HIPPA.
        </p>
        <br/>
        
        <!--
            <p><strong>Choice/Opt-Out</strong></p>
            <p>This site gives users the following option for removing their information from our database to not receive future communications; you can send email to <a href="mailto:websupport@herbdoc.com "> websupport@herbdoc.com.</a> and put "Remove" in the subject line.</p>
            <p><strong>Correct/Update</strong></p>
            <p>This site gives users the following option for changing and modifying personal information previously provided by contacting us by email to <a href="mailto:websupport@herbdoc.com">websupport@herbdoc.com</a> and put "Correct" in the subject line. If we offer products and services on any site, we may use your IP address to help diagnose problems with our server, and to administer our web site. Your IP address is used to help identify you and your shopping cart. Our site <em>does not</em> use cookies to keep track of your shopping cart. Our site uses an order form for customers to request information, products, and services. We may collect visitor's contact information (like their email address) and financial information (like their account or credit card numbers). Contact information from the order form is used to send orders to our customers. The customer's contact information is used to get in touch with the visitor when necessary. Financial information that is collected, if any, is used to bill the user for products and services.</p>
            <p>This site has not been notified of California Statute CA B&amp;PC Section 22575(a) noncompliance. This site maintains a privacy policy in conformity with Section 22575(b).</p>
            <p>Insofar as information collected by the Organization may be covered by the Health Insurance Portability and Accountability Act (HIPPA), all such information is maintained as Confidential in strict conformity with HIPPA rules. In such case, the person to whom such information pertains may obtain copies upon request in conformity with the requirements of HIPPA.</p>






            <h3 class="bold">SECURITY &amp; CHOICES</h3>
            <p>At American Botanical Pharmacy, our customers' security is very important. We support the Internet standard of Secure Socket Layers, or SSL, to ensure that the transmission of your sensitive information cannot be intercepted or decoded.</p>
            <p>To ensure that your order is being placed on a Secure Socket Layer, there are several visual clues displayed by your browser:</p>
            <p>* First, you will notice the "http" in your browser's URL location has changed to "https."* In Netscape browsers, you will see the lock located in the lower right corner will now appear closed with a slight glow. Safari browsers will display a closed lock in the upper right corner of the browser.Microsoft Internet Explorer and Firefox browsers will also display a closed lock, but in the lower right corner of the browser.</p>
            <p>Regardless of your browser, this website will display these visual clues to reassure you that your information is being transferred securely. It is the responsibility of the user to ensure their browser is capable of using this technology. We are not responsible for the results of sabotage, changed regulations and laws or other changes beyond our control.</p>


        <p><strong>A quick note about Privacy and Cookies</strong></p>

        <p>Herbdoc.com will use the information you provide us only to better serve you as a returning customer and share product updates and promotions.<br /><br />

        We enable the use of cookies on our website to improve the experience with us. By closing this pop up or interacting with our site, you permit us to recognize our cookies and identify you for marketing.<br /><br />

        You can change your mind at any time by logging on your online account at herbdoc.com and change your communication preferences or by contacting us at <a href="mailto:websupport@herbdoc.com">websupport@herbdoc.com</a>.</p>


        -->
        <h2 id="tc">SITE USE TERMS &amp; CONDITIONS STATEMENT</h2>
        <p>These Terms &amp; Conditions have been adopted by Dr. Schulze’s American Botanical Pharmacy herein,
            Organization, which resumes all rights.</p>
        <h3 class="bold">Terms and Conditions</h3>
        <p><strong>TERRITORY &amp; ACCESS:</strong> The content in this web site is intended only for residents of the
            United States and other jurisdictions where providing such information is lawful. All references to products
            or services apply in the United States only, no offer being made elsewhere.</p>
        <p>Access to and use of this site are subject to the following terms and conditions and all applicable laws. You
            may browse this site for personal entertainment and information. However, please do not distribute, modify,
            transmit or revise the contents of this site without our written permission. The contents of the site
            include copyright materials that are either used with permission or are offered under the Fair Use
            exception.</p>
        <p><strong>NO WARRANTIES:</strong> We make no warranties or representations about the accuracy or completeness
            of this site’s content or of the content of any site or sites linked to this site. Neither the Organization
            nor any of its affiliates shall be liable for any direct, incidental, consequential, indirect or punitive
            damages arising out of access to or use of any content of this site or the content of any site or sites
            linked to this site.</p>
        <p><strong>NON-PRIVATE COMMUNICATIONS:</strong> Any communication or material you post or transmit to us over
            the Internet is, and will be treated as non-confidential and non-proprietary (except as provided in the
            Privacy Notice, below). By transmitting or posting any communication or material to this site you agree the
            Organization or any of its affiliates may use your communication or material for any purpose, including
            reproduction, transmission, publication, broadcast and posting. We may not be able to respond to all
            messages posted to this site. Furthermore, do not post or transmit any unlawful, threatening, libelous,
            defamatory, obscene, pornographic or profane material or any material that could constitute or encourage
            conduct that would be considered a criminal offense or violate any law. We will remove any such statements.
        </p>
        <p><strong>TRADEMARKS:</strong> All names, logos and marks appearing in this site, except as otherwise noted,
            are trademarks (service marks) owned or used under license by us or our affiliates in the geographies where
            they market products and services bearing such trademarks, or are a “fair use” of others’ marks or copyright
            materials. The unlawful use or misuse of marks, copyright materials or any other content on this site,
            except as provided in these terms and conditions or in the site content, is strictly prohibited. <strong>By
                entering this site you agree to respect the trademark, copyright and other protected intellectual
                property posted on this site or sites connected to it.</strong></p>
        <p><strong>TESTIMONIALS:</strong> Any Testimonials referred to in this web site were volunteered by the makers
            without an offer of compensation. The results referred to in Testimonials may not be typical and others'
            results may vary.</p>
        <p><strong>THIRD-PARTY STATEMENTS:</strong> Any third-party materials to which links on this site point, or
            which may be accessible through these sites, are the sole responsibility of those posting such materials;
            this site and its affiliates do not endorse or adopt any information or claims contained in such third-party
            sites.</p>
        <p><strong>ACCURACY:</strong> Additionally, the Organization does not assume any legal liability for the
            accuracy, completeness, or usefulness of any information, product, or process disclosed herein nor freedom
            from computer virus, and does not represent that use of such information, product, or process would not
            infringe on privately owned rights.</p>
        <p><strong>DISCLAIMERS:</strong> Dr. Richard Schulze recognizes that personal decisions about creating powerful
            health are among the most important private decisions people can make. It is our purpose to protect the
            privacy that the community of people seeking natural healing expects. By entering this part of the web site,
            you are seeking and communicating about private issues regarding your health.</p>
        <p>The health suggestions and opinions expressed by Dr. Richard Schulze in this website are based on his 30
            years of clinical practice assisting thousands of patients to heal themselves.</p>
        <p>Warning: his knowledge and experience are not necessarily shared, nor have they been evaluated or approved by
            the F.D.A., the A.M.A., or any other 3-lettered federal, state, local or private agency.</p>
        <p>Dr. Schulze discusses therapies and products that may have benefit. These discussions are not offered to
            diagnose or prescribe for medical or psychological conditions nor to claim to prevent, treat, mitigate or
            cure such conditions, nor to make recommendations for treatment of disease or to provide diagnosis, care,
            treatment or rehabilitation of individuals, or apply medical, mental health or human development
            principles.</p>
        <p>Therefore, if you are ill, have any disease, are pregnant, or just improving your health, we are required to
            tell you to consult a medical doctor for medical advice, treatment and services.</p>
        <p>Upon entering and/or purchasing from this site, you hereby agree to take full responsibility for yourself,
            your health and release, indemnify and hold harmless, Dr. Richard Schulze, American Botanical Pharmacy,
            Natural Healing Publications, their employees and heirs. You are entering a community for natural healing
            and seeking information and products based on those principles thereby granting a private license to the
            above to provide you the information herein.</p>
        <p>We do not offer products or services for the purpose of diagnosis, prescription for, treatment of, or claims
            to prevent, mitigate or cure any disease, medical or psychological condition. The statements made on this
            web site have not been evaluated by the FDA or any other governmental authority, unless otherwise
            specifically noted. <strong>We do not discriminate on the basis of any unlawful categorization.</strong></p>
        <p>We provide products privately, with the recipient's informed consent only. The dietary and other substances,
            and/or materials, equipment or devices, discussed on this site may not have undergone evaluation and/or
            testing by the FDA or similar agency of any other country. Risks that might be determined by such testing
            are unknown. As these substances are dietary supplements, they are not intended to diagnose, treat, cure or
            prevent any disease. In some jurisdictions, some of these may be considered prescription drugs, controlled
            or contraband substances or medical devices. Since the information published on the web site is accessible
            to anyone throughout the world, the site does not give legal, nutritional or medical advice that may apply
            to any particular consumer. Consumers are cautioned to check with local, regional legal counsel and/or
            health care professional(s) before making any purchases of membership, products and/or services on the site.
            This information is not intended to diagnose or prescribe for medical or psychological conditions, nor does
            it claim to prevent, treat, mitigate or cure such conditions by standard medical means. We do not provide
            diagnosis, care, treatment or rehabilitation of individuals, nor apply medical, mental health or human
            development principles. If the products are of benefit to customers, such benefit is derived from their
            herbal formulae and not any drug action claim. Insofar as the Organization is a private association, this
            web site is an "Expressive Association" that is the expression of the association's beliefs through its
            internal decisions and activities.</p>
        <p><strong>If you purchase any services or products through the web site, you acknowledge that you have done so
            with informed consent and you hereby Privately License the provider to provide such products or
            services</strong></p>
        <p>To the best knowledge of the Organization, food products offered (including Dietary Supplements) comply with
            the - <a
                    href="http://www.fda.gov/food/guidanceregulation/guidancedocumentsregulatoryinformation/allergens/ucm106187.htm">Food
                Allergen Labeling and Consumer Protection Act of 2004 (Title II of Public Law 108-282)</a>.</p>
        <p>This Organization is in compliance with the terms of the Dietary Supplement and Non-Prescription Drug
            Consumer Protection Act of 2006 and will make all required Adverse Event Reports (AER).</p>
        <div id="sharing-tcs">
            <style>
                .privacy_scrolldiv ul, .privacy_scrolldiv ol {
                    list-style: disc;
                    list-style-position: outside;
                    margin-left: 20px;
                }

                .privacy_scrolldiv li, .privacy_scrolldiv em {
                    color: #333333 !important;
                    font-size: 14px;
                    line-height: 1.4em;
                }

                .privacy_scrolldiv ul.circle {
                    list-style: circle;
                }

                .privacy_scrolldiv strong {
                    color: #333333;
                }
            </style>
            <br/>
            <h3 class="bold">SHARING IS CARING PROGRAM</h3>

            <h3 class="bold">PROGRAM TERMS AND CONDITIONS</h3>
            <strong>Eligibility</strong>
            <br/><br/>
            <p>This program is available only online, credits are valid only on website orders and only to Dr. Schulze’s
                customers.</p><br/>
            <strong>Referral Credits</strong><br/><br/>
            <ul>
                <li>You will receive a Referral product credit in the amount of 10% off when your referred individuals
                    have made a qualifying purchase.
                </li>
                <li>You can use the Referral credits to purchase Dr. Schulze’s American Botanical Pharmacy products.
                </li>
                <li>The referral credits can only be used for 10% off per order.</li>
                <li>If you have accrued multiple credits, each 10% credit needs to be used individually per order.</li>
                <li>There are no limits to the number of Referral credits you can receive.</li>
                <li>Please allow up to 7 days for the Referral Credit to post to your account after each referred
                    individual makes a first purchase through the referral link and SHARE10 coupon code you provide.
                </li>
                <li>Referral credits are valid up to 18 months from the date of accrual. After 18 months from the date
                    of accrual, any outstanding remaining unused product credits in your account will expire.
                </li>
            </ul>
            <br/><br/>
            <strong>Qualifying purchase and Program Restrictions</strong>
            <br/><br/>
            <ul>
                <li>To qualify for Referral credit, the referred individual must be a new customer of Dr. Schulze’s
                    American Botanical Pharmacy. If the referred individual is already a Dr. Schulze’s American
                    Botanical Pharmacy customer, the credit for the referrer will not be accrued.
                </li>
                <li>You will be notified via email of any qualifying purchase made by your referred individual and the
                    relative credits applied to your account.
                </li>
                <li>Offer not available for current SFMC membership, Subscribe and Save membership, any re-occurring
                    membership programs and cannot be applied to wholesale orders.
                </li>
                <li>This program requires you to invite your interested friends, family and known acquaintances
                    utilizing the referral link and SHARE10 coupon code. Whenever and wherever you refer Dr. Schulze’s
                    American Botanical Pharmacy to a friend under the Program, any additional statements you make, of
                    which are not provided by Dr. Schulze’s American Botanical Pharmacy, about our products or the
                    Referral Offer, must be:
                    <ul class="circle">
                        <li>consistent with the content and materials we provide you and/or your friends,</li>
                        <li>truthful, accurate, factually supported, not misleading, and</li>
                        <li>reflect your honest beliefs, opinions, or experiences with Dr. Schulze’s American Botanical
                            Pharmacy.
                        </li>
                        <li>Any modification or efforts to bypass, manipulate, obscure or otherwise modify the delivery
                            and accurate presentation of the referral link, SHARE10 coupon code, sharing tools, content,
                            disclosures or other materials and instructions we provide will be considered a violation of
                            these terms.
                        </li>
                    </ul>
                </li>
            </ul>
            <br/><br/>
            <strong>Referred Friends, Families and Acquaintances</strong>
            <br/><br/>
            <ul>
                <li>When you invite a friend to participate in this program for purposes of earning yourself a Welcome
                    or Referral Credit, you must make sure your friend knows you could receive a reward from Dr. Schulze&rsquo;s
                    American Botanical Pharmacy if they make a new qualifying purchase.
                </li>
                <li>To the extent you decide to post your referral link and SHARE10 coupon code on any third party
                    website or platform, such as a social media website, you must:
                    <ul class="circle">
                        <li>also comply with that third party&rsquo;s terms of use and</li>
                        <li>make it clear to those who view your post that you will also receive a product credit if
                            they make a new qualifying purchase.
                        </li>
                    </ul>
                </li>
                <li>You should also be aware that by engaging in such activity on a third party site (1) you will be,
                    at your own risk, subjecting yourself to those third party sites' privacy, security and consumer
                    practices and policies which Dr. Schulze’s American Botanical Pharmacy does not endorse or control,
                    and (2) that those third party sites may be able to tell, based on your activity, that you are an
                    Dr. Schulze’s American Botanical Pharmacy customer.
                </li>
                <li>You also acknowledge and accept that the friends you refer will be able to tell that you are a Dr.
                    Schulze’s American Botanical Pharmacy customer.
                </li>
            </ul>
            <br/><br/>
            <strong>Program Violations &ndash; Bonus Forfeiture, Termination</strong>
            <br/><br/>
            <ul>
                <li>Any violation or abuse of this program may result in the forfeiture of the Referral Credits and/or
                    your termination or suspension from participation in this program.
                </li>
                <li>Dr. Schulze’s American Botanical Pharmacy reserves the right to limit, cancel, or revoke Referral or
                    Welcome Bonuses if Dr. Schulze’s American Botanical Pharmacy determines, in its sole discretion,
                    that you have violated these terms and conditions.
                </li>
            </ul>
            <br/><br/>
            <strong>Changes to the Program or these Terms</strong>
            <br/><br/>
            <ul>
                <li>Dr. Schulze&rsquo;s American Botanical Pharmacy reserves the right to suspend, cancel, terminate or
                    modify this program, these terms and conditions and/or any Offers made through this program at any
                    time in our sole discretion.
                </li>
                <li>You are deemed to be aware of and bound by such changes by your continued access to or participation
                    in the program.
                </li>
                <li>In the event Dr. Schulze’s American Botanical Pharmacy decides to terminate this Program, you will
                    have 6 months from the date of the program termination to accrue credits from referred individuals
                    and 18 months from the date of the program termination to use the available credits in your account
                    to purchase Dr. Schulze’s American Botanical Pharmacy products. After 18 months from the date of
                    termination of the program, any remaining outstanding credits in your account will be forfeited.
                </li>
                <li>We will indicate any changes made by updating these Terms and Conditions and informing you with an
                    email. If you do not accept any such changes, your sole and exclusive remedy is to cease
                    participation in the program.
                </li>
            </ul>
        </div>
    </div>
</div>