<div class="container mt-2">
  <h4>Hi <%= current_user.name %>, here is your spreadsheets.</h4>
  <ul class="list-group">
    <% if current_user.spreadsheets.present? %>
      <% current_user.spreadsheets.each do |spreadsheet| %>
        <li class="list-group-item"><%= spreadsheet.g_id %>  <%= spreadsheet.name %></li>
      <% end %>
    <% else %>
      <li class="list-group-item">You don't have any spreadsheets</li>
    <% end %>
  </ul>
</div>
