<div class="container mt-5">
  <h4>Spreadsheets</h4>
  <%= link_to 'Create Spreadsheet', new_spreadsheet_path, class: 'btn btn-sm btn-primary' %>
  <table class="table mt-5">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <% @spreadsheets.each do |spreadsheet| %>
      <tr>
        <td><%= spreadsheet.name %></td>
        <td>
          <%= link_to 'View In Google Sheet', "https://docs.google.com/spreadsheets/d/#{spreadsheet.g_id}", class: 'btn btn-default', target: '_blank' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>